.our-team-container {
  width: 100%;
  min-height: 45vh;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-margin-top: 10px;
  background: transparent; 
  z-index: 1;
  top: -100px;
}

.team-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}




.loop-abstract-shape {
  position: absolute;
  top: 20px;
  left: -520px;
  width: 1140px;
  height: 1400px;
  background-image: url('/assets/loop.png'); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1; 
  pointer-events: none;
  -webkit-mask-image: linear-gradient(to right, rgba(0,1,1,1) 20%, rgba(1,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  filter: blur(3px);
  transform: rotate(180deg);
}